@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'IBM Plex Mono', monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background: #080808;
    width: 100%;
    height: 700px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background: #080808;
  width: 100%;
  height: 700px;
}

.menu {
  max-width: 1100px;
  height: 70px;
  background: #1b1b1b;
  margin: auto;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: space-between;
  padding-left: 95px;
  padding-right: 95px;
}

.menu ul {
  display: flex;
  gap: 35px;
  list-style-type: none;
}

.menu ul a {
  font-size: 14px;
  color: #9C9C9C;
  text-decoration: none;
  display: block;
  padding: 25px 20px;
  transition: all 0.5s ease;
  font-family: var(--font-secondary)
}

.body {
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu ul a:hover {
  color: #080808;
  background: #9c9c9c;
}

.menu .icons {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 25px;
  transition: all 0.5s ease;
}

.menu .icons a:hover {
  transform: scale(1.5);
}

.alliances,
.principal,
.cases_studies_header,
.case_study {
  width: 888px;
  margin: auto;
}

.principal {
  display: flex;
  align-items: center;
  margin-top: 80px;
  gap: 32px;
}

.principal_description {
  padding-right: 46px;
}

.principal_description h1 {
  font-weight: 900;
  font-size: 44px;
  color: #fff;
  font-family: var(--font-primary);
  margin-bottom: 20px;
}

.principal_description p {
  color: #9C9C9C;
  font-size: 14px;
  font-family: var(--font-secondary);
  line-height: 1.71;
  margin-bottom: 30px;
  letter-spacing: 0.6px;
}

.principal_description a {
  padding: 21px 64px;
  background: #3F8E00;
  border-radius: 4px;
  color: #fff;
  font-family: var(--font-primary);
  display: block;
  width: fit-content;
  text-decoration: none;
  letter-spacing: 3px;
}

.cases_studies {
  padding-top: 129px;
}

.cases_studies_header {
  text-align: center;
  margin-bottom: 60px;
}

.cases_studies_header h2,
.case_study_description h2 {
  font-size: 34px;
  font-family: var(--font-primary);
  font-weight: 900;
  margin-bottom: 10px;
  color: #080808;
}

.cases_studies_header p,
.case_study_description p {
  font-size: 14px;
  font-family: var(--font-secondary);
  color: #9C9C9C;
  line-height: 24px;
}

.Testimonials{
  background-color: #080808;
  width: 100%;
  padding: 80px 0;
  text-align: center;
}

.Testimonials_Header h2{
 color: #fff;
  font-family: var(--font-primary);
 margin-bottom: 20px;
 font-size: 32px;
}

.Testimonials_Header p{
 color: #9C9C9C;
 font-size: 14px;
  font-family: var(--font-secondary);
  margin-bottom: 20px;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;                          
}

.testimonial-card {
    background: #080808 ;
    border: 1px solid rgba(255, 255, 255, 0.096);
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 62px;
    position: relative; 
}

.testimonial-card::before {
    content: '“';
    font-family: var(--font-primary);
    font-size: 100px;
    color: #fff;
    position: absolute;
    top: -25px;
    left: 20px;
    line-height: 1;
}


.testimonial-text {
  font-family: var(--font-secondary);
    font-size: 14px;
    line-height: 1.6;
    color: #9c9c9c;
    margin-top: 30px; 
    margin-bottom: 45px;
    margin-left: 30px;
    text-align: left;
}


.alliances,
.principal {
  width: 888px;
  margin: auto;
}

.principal 
.case_study {
  display: flex;
  margin-bottom: 80px;
  gap: 26px;
}

.case_study_reverse {
  flex-direction: row-reverse;
}

.case_study_category {
  width: 72px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #000;
  color: #fff;
  border-radius: 60px;
  margin-bottom: 20px;
}

.case_study_description h2 {
  font-size: 24px;
}

.case_study_description p {
  margin-bottom: 50px;
}
.principal_description p {
  color: #9C9C9C;
  font-size: 14px;
  font-family: var(--font-secondary);
  line-height: 1.71;
  margin-bottom: 30px;
  letter-spacing: 0.6px;
  }

.case_study_description h2 {
  font-size: 24px;
}

.case_study_description p {
  margin-bottom: 50px;
}

.case_study_button {
  border-radius: 4px;
  color: #fff;
  background: #000;
  height: 38px;
  width: 189px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-family: var(--font-secondary);
}

.alliances {
  margin-top: 57px;
}

.alliances_header p {
  color: #fff;
  font-family: var(--font-secondary);
  font-size: 14px;
  margin-bottom: 20px;
}

.alliances_logos {
  display: flex;
  justify-content: space-between;
}

.alliances_logos a {
  width: 160px;
  height: 60px;
  border: 1px solid #1b1b1b;
  background: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: all 0.5s ease;
}

.alliances_logos a:hover {
  transform: scale(1.2);
  background: #9C9C9C;

  font-weight: 700;

  font-family: var(--font-secondary);
    font-size: 16px;
    line-height: 1.6;
    color: #9c9c9c;
    margin-top: 30px; 
    margin-bottom: 45px;
    margin-left: 30px;
    text-align: left;
}

.client-info {
    display: flex;
    align-items: center;
    gap: 15px;
}


.client-name{
  font-family: var(--font-primary);
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

.column-left,
.column-right {
margin-top: 51px;
    display: grid;
    gap: 30px;
}

.column-left {
margin-left: 180px;
margin-bottom: 62px;
}

.column-right {
margin-right: 180px;
margin-bottom: 62px;
}

.cases_studies {
  padding-top: 129px;
}

.cases_studies_header {
  text-align: center;
  margin-bottom: 60px;
}

.menu {
  max-width: 1100px;
  height: 70px;
  background: #080808;
  margin: auto;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: space-between;
  padding-left: 95px;
  padding-right: 95px;
}

.get_in_touch{
    background: #080808;
    height: 672px;
    width: auto;
}

.menu ul {
  display: flex;
  gap: 35px;
}


.menu ul a {
  font-size: 14px;
  color: #9c9c9c;
  text-decoration: none;
  display: block;
  padding: 25px 20px;
  transition: all 0.5s ease;
  font-family: var(--font-secondary)
}

.menu ul a:hover {
  color: #080808;
  background: #9c9c9c;
}

.menu .icons {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 25px;
  transition: all 0.5s ease;
}

.menu .icons a:hover {
  transform: scale(1.5);
}

.alliances,
.cases_studies_header,
.case_study,
.principal {
  width: 888px;
  margin: auto;
}

.made_with{
    background: #1b1b1b;
    width: auto;
    height: 70px;
    display: flex;
    align-items: center;
  }

.principal {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 80px;
}

.get_in_touch{
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.principal_description {
  padding-right: 46px;
}

.principal_description h1 {
  font-weight: 900;
  font-size: 44px;
  color: #fff;
  font-family: var(--font-primary);
  margin-bottom: 20px;
}

.principal_description h2{
  font-weight: 900;
  font-size: 44px;
  color: #fff;
  font-family: var(--font-primary);
  padding-top: 80px;
}

.get_in_touch_description h2{
    font-weight: 900;
    font-size: 34px;
    color: #fff;
    font-family: var(--font-primary);
    padding-top: 40px;
    text-align: center;
}

.get_in_touch_description p {
    color: #9C9C9C;
    font-size: 14px;
    font-family: var(--font-secondary);
    line-height: 1.71;
    margin-top: 10px;
    margin-bottom: 40px;
    letter-spacing: 0.6px;
    text-align: center;
}

.made_with  p {
  display: block;
  color: #9C9C9C;
  font-size: 14px;
  font-family: var(--font-secondary);
  margin: auto;
}


.principal_description p {
  color: #9C9C9C;
  font-size: 14px;
  font-family: var(--font-secondary);
  line-height: 1.71;
  margin-bottom: 30px;
  letter-spacing: 0.6px;
}

#formContainer, 
#formContainer_message{
  color: #9C9C9C;
  font-size: 14px;
  font-family: var(--font-secondary);
  line-height: 1.71;
  margin-bottom: 30px;
  letter-spacing: 0.6px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

#formContainer label,
#formContainer_message label{
    display: block;
    color: white;
    font-size: 12px;
    font-family: var(--font-secondary);
    line-height: 1.71;
    margin-bottom: 5px;
    letter-spacing: 0.6px;
}

#formContainer input,
#formContainer textarea,
#formContainer_message input,
#formContainer_message textarea {
  width: 350px;
  height: 40px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: var(--font-secondary);
}

#formContainer_message input,
#formContainer_message textarea {
  height: 120px;
}

.principal_description a {
  padding: 21px 64px;
  background: #3F8E00;
  border-radius: 4px;
  color: #fff;
  font-family: var(--font-primary);
  display: block;
  width: fit-content;
  text-decoration: none;
  letter-spacing: 3px;
}

.get_in_touch a{
  justify-content: center;
  display: flex;
  align-items: center;
}

.cases_studies_header h2,
.case_study_description h2 {
  font-size: 34px;
  font-family: var(--font-primary);
  font-weight: 900;
  margin-bottom: 10px;
  color: #080808;
}

.cases_studies_header p,
.case_study_description p {
  font-size: 14px;
  font-family: var(--font-secondary);
  color: #9C9C9C;
  line-height: 24px;
}

.alliances {
  margin-top: 57px;
}

.alliances_header p {
  color: #fff;
  font-family: var(--font-secondary);
  font-size: 14px;
  margin-bottom: 20px;
}

.alliances_logos {
  display: flex;
  justify-content: space-between;
}

.alliances_logos a {
  width: 160px;
  height: 60px;
  border: 1px solid #1b1b1b;
  background: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: all 0.5s ease;
}

.alliances_logos a:hover {
  transform: scale(1.2);
  background: #9C9C9C;
}

.case_study {
  display: flex;
  margin-bottom: 80px;
  gap: 26px;
}

.case_study_reverse {
  flex-direction: row-reverse;
}

.case_study_category {
  width: 72px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #000;
  color: #fff;
  border-radius: 60px;
  margin-bottom: 20px;
}


.case_study_description h2 {
  font-size: 24px;
}

.case_study_description p {
  margin-bottom: 50px;
}

.case_study_button {
  border-radius: 4px;
  color: #fff;
  background: #000;
  height: 38px;
  width: 189px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  letter-spacing: 3px;
}

.cases_studies {
    padding-top: 129px;
  }
  
  .cases_studies_header {
    text-align: center;
    margin-bottom: 60px;
  }
  
  .cases_studies_header h2,
  .case_study_description h2 {
    font-size: 34px;
    font-family: var(--font-primary);
    font-weight: 900;
    margin-bottom: 10px;
    color: #080808;
  }
  
  .cases_studies_header p,
  .case_study_description p {
    font-size: 14px;
    font-family: var(--font-secondary);
    color: #9C9C9C;
    line-height: 24px;
  }
  
  .case_study_green .case_study_category {
    background: #E0FFF8;
    color: #2AB090;
  }
  
  .case_study_green .case_study_button {
    background: #2AB090;
  }

.case_study_orange .case_study_category {
  background: #FFF6E9;
  color: #FFA217;
}

.case_study_orange .case_study_button {
  background: #FFA217;
}

.case_study_blue .case_study_category {
  background: #D0E6FF;
  color: #000AFF;
}

.case_study_blue .case_study_button {
  background: #000AFF;
}

.case_study_green .case_study_category {
  background: #E0FFF8;
  color: #2AB090;
}

.case_study_green .case_study_button {
  background: #2AB090;
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .hero {
    height: auto;
  }

  .alliances,
  .principal,
  .cases_studies_header,
  .case_study ,
  .recent-work {
    width: 100%;
    align-content: center;
    overflow: hidden;
  }

  .menu {
    width: 100%;
    overflow-x: hidden;
    padding: 10px;
    height: auto;
    display: block;
  }

  .menu ul {
    gap: 10px;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
  }

  .menu .icons {
    justify-content: center;
  }

  .principal {
    display: block;
  }

  .case_study {
    display: block;
  }

  .case_study_image img {
    width: 100%;
    object-fit: cover;
  }

  .alliances_logos {
    flex-direction: column;
  }

  .principal {
    margin-top: 30px;
    text-align: center;
  }

  .principal_description {
    margin: 20px;
  }

  .principal_description p{
    margin-left: 40px;
  }

  .principal_description h1 {
    font-size: 40px;
    margin-left: 40px;
  }

  .principal_description a {
    margin: 20px auto;
    margin-left: 200px;
  }

  .alliances_logos a {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 20px;
    justify-content: center;
    align-content: center;
  }
  
  .cases_studies_header br {
    display: none;
  }

  .case_study_image {
    margin-top: 20px;
  }

  .alliances_header{
    margin-left: 20px;
  }
}


.recent-work {
    max-width: 1200px;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}

.text-content h2 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: var(--font-primary);
}

.text-content .subtitle {
    color: #999;
    font-size: 1rem;
    margin-bottom: 10px;
}

.text-content .description {
    color: #aaa;
    font-size: 0.95rem;
    max-width: 600px;
    margin: 0 auto 40px;
    line-height: 1.6;
    font-family: var(--font-secondary);
}

.work-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.work-card {
    background-color: #fff;
    width: 420px;
    border-radius: 10px;
    text-align: left;
}

.work-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.work-card h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 10px;
    font-family: var(--font-primary);
}

.work-card p {
    font-size: 14px;
    color: #888;
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 0 10px;
    font-family: var(--font-secondary);
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(76, 175, 80, 0.3);
}

.btn span {
    margin-left: 5px;
}

.btn:hover {
    background-color: #45a049;
}

.arrow {
    background: none;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 18px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #666;
}

.arrow:hover {
    background-color: #f3f3f3;
}

.arrow.left {
    position: absolute;
    left: -50px;
}

.arrow.right {
    position: absolute;
    right: -50px;
}

@media only screen and (min-width: 1024px) {
}

@media only screen and(min-width: 350px){
}