@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-primary: 'Raleway', sans-serif;
  --font-secondary: 'IBM Plex Mono', monospace;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Testimonials{
  background-color: #080808;
  width: 100%;
  padding: 80px 0;
  text-align: center;
}

.Testimonials_Header h2{
 color: #fff;
  font-family: var(--font-primary);
margin-bottom: 20px;
font-size: 32px;

}

.Testimonials_Header p{
 color: #9C9C9C;
 font-size: 14px;
  font-family: var(--font-secondary);
  margin-bottom: 20px;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;                          
}

.testimonial-card {
    background: #080808 ;
    border: 1px solid rgba(255, 255, 255, 0.096);
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 62px;
    position: relative; 
}

.testimonial-card::before {
    content: '“';
    font-family: var(--font-primary);
    font-size: 100px;
    color: #fff;
    position: absolute;
    top: -25px;
    left: 20px;
    line-height: 1;
}

.testimonial-text {
  font-family: var(--font-secondary);
    font-size: 16px;
    line-height: 1.6;
    color: #9c9c9c;
    margin-top: 30px; 
    margin-bottom: 45px;
    margin-left: 30px;
    text-align: left;
}

.client-info {
    display: flex;
    align-items: center;
    gap: 15px;
}


.client-name{
  font-family: var(--font-primary);
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  }

.column-left,
.column-right {
margin-top: 51px;
    display: grid;
    gap: 30px;
}

.column-left {
margin-left: 180px;
margin-bottom: 62px;
}

.column-right {
margin-right: 180px;
margin-bottom: 62px;

}