
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-primary: 'Raleway', sans-serif;
  --font-secondary: 'IBM Plex Mono', monospace;
}

.cases_studies {
  padding-top: 129px;
}

.cases_studies_header {
  text-align: center;
  margin-bottom: 60px;
}

.cases_studies_header h2,
.case_study_description h2 {
  font-size: 34px;
  font-family: var(--font-primary);
  font-weight: 900;
  margin-bottom: 10px;
  color: #080808;
}

.cases_studies_header p,
.case_study_description p {
  font-size: 14px;
  font-family: var(--font-secondary);
  color: #9C9C9C;
  line-height: 24px;
}

.alliances {
  margin-top: 57px;
}

.alliances_header p {
  color: #fff;
  font-family: var(--font-secondary);
  font-size: 14px;
  margin-bottom: 20px;
}

.alliances_logos {
  display: flex;
  justify-content: space-between;
}

.alliances_logos a {
  width: 160px;
  height: 60px;
  border: 1px solid #1b1b1b;
  background: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: all 0.5s ease;
}

.alliances_logos a:hover {
  transform: scale(1.2);
  background: #9C9C9C;
}

.case_study {
  display: flex;
  margin-bottom: 80px;
  gap: 26px;
}

.case_study_reverse {
  flex-direction: row-reverse;
}

.case_study_category {
  width: 72px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #000;
  color: #fff;
  border-radius: 60px;
  margin-bottom: 20px;
}


.case_study_description h2 {
  font-size: 24px;
}

.case_study_description p {
  margin-bottom: 50px;
}

.case_study_button {
  border-radius: 4px;
  color: #fff;
  background: #000;
  height: 38px;
  width: 189px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-family: var(--font-secondary);
}

.case_study_orange .case_study_category {
  background: #FFF6E9;
  color: #FFA217;
}

.case_study_orange .case_study_button {
  background: #FFA217;
}

.case_study_blue .case_study_category {
  background: #D0E6FF;
  color: #000AFF;
}

.case_study_blue .case_study_button {
  background: #000AFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
.case_study_green .case_study_category {
  background: #E0FFF8;
  color: #2AB090;
}

.case_study_green .case_study_button {
  background: #2AB090;
}

